{% extends 'home/base.html' %}





{% block titulo_pagina %}
        
        <title>ABOUT US</title>
        
{% endblock titulo_pagina %}

{% block mi_contenido %}


    <!-- Masthead-->
    <header class="masthead">
        <p> 
            <H6> 
            Somos una compañía dedicada a la venta de ... con el objetivo de satisfacer todas las necesidades del cliente brindandole productos de la mejor calidad, al mejor precio. 
            </H6> 
        </p>
        

    </header>

{% endblock mi_contenido %}