{% extends 'home/base.html' %}





{% block titulo_pagina %}
        
        <title>CREAR PRODUCTOS</title>
        
{% endblock titulo_pagina %}

{% block mi_contenido %}


    <!-- Masthead-->
    <header class="masthead">
        <p>CREAR NUEVO PRODUCTOS </p>
        
        <form action={% url 'crear_productos' %} method="POST">
            {%  csrf_token %}
            <p>
                Prenda: 
                <input type="text" name="prenda" placeholder="NOMBRE DE LA PRENDA">
            </p>
            <p>
                Material: 
                <input type="text" name="material" placeholder="MATERIAL DE LA PRENDA">
            </p>
            <p>
                Costo $: 
                <input type="text" name="costo"placeholder="Costo de la prenda">
            </p>
            <p>
                Existenacia: 
                <input type="text" name="existencia" placeholder="Cantidad en existencia">
            </p>
            <input type="submit" value="Crear">
        </form>

    </header>

{% endblock mi_contenido %}